@{
    ViewData["Title"] = "Home";
}

<h1 class="mt-4">Care Portal Web Application</h1>
<p>ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.</p>
<p><a asp-area="" asp-controller="Account" asp-action="Login">Login</a>/<a asp-area="" asp-controller="Account" asp-action="Register">Register </a> to continue using our platform.</p>